<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<style>
form .col-md-8,form .col-md-4{
  padding: 0;
  margin: 0;
}
</style>
<div class="container">
    <h1 style="text-align:center;font-family:'Fjalla One', sans-serif;color:rgb(148,0,211);font-size:100px">Alumninet</h1>
	<div class="row">
           <div id="custom-search-input">
                            <div class="input-group col-md-12">
                                <form action="/<%= data %>" method="POST">
                                    <input type="text" class="search-query form-control" name="name" id="queryInput" placeholder="Enter <%= data %> name" style="width:100%"/>
                                    <span class="input-group-btn">
                                        <button class="btn btn-danger" type="Submit">
                                            <span class=" glyphicon glyphicon-search"></span>
                                        </button>
                                    </span>
                                </form>
                        </div>
                        </div>
                        
	</div>
</div>

<script
			  src="https://code.jquery.com/jquery-3.2.1.min.js"
			  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
			  crossorigin="anonymous"></script>

<script>
$('#query').change(function(){
  if($(this).val()=='institution')
  {
    $('form').attr('action','/institution');
    $('#queryInput').attr('placeholder','Enter Institution name');
  }
  else {
    $('form').attr('action','/profile');
    $('#queryInput').attr('placeholder','Enter personality name');
  }

});

</script>
