<link href="https://fonts.googleapis.com/css?family=Work+Sans" rel="stylesheet">
<h1 style="font-family: 'Fjalla One', sans-serif;padding-left:30px">Search results:
</h1>
<% for (list in alumni) {%>
<% if (alumni[list].name) { %>
<div style="margin-left:40px;border-radius: 25px;border: 2px solid rgb(148,0,211);padding: 20px;">
    <h4 style="font-family: 'Work Sans', sans-serif;font-weight:bold"><a href="/profile?q=<%= alumni[list].name %>" style="color:black"><%= alumni[list].name %></a></h4>
    <h5 style="font-family: 'Work Sans', sans-serif;"> <a href="<%= alumni[list].wiki %>" style="color:black"><%= alumni[list].wiki %></a></h5>
</div>
<br/>
<% } %>
<% } %>
